body{
    background-color: black;
    color: mintcream;
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <400>;
    font-style: normal;
}
/*section{
    background-color: palevioletred;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    color: gold;
}*/
.sec1{
    background-color: palevioletred;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    color: gold;
}
.sec2{
    background-color: rgb(17, 8, 11);
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    color: gold;
}

.chamada-texto{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}
header{
    font-size: larger;
    text-align: center;
    margin: 30px;
}
h2{
    font-size: larger;
    text-align: center;
    margin: 30px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria-videos img{
    height: 200px;
    opacity: 0.5;
}

.categoria-videos img:hover {
    border: 2px solid white;
    opacity: 1.0;
}